# IF

Конструкция условного оператора:

In [1]:
some_variable = 5

if some_variable > 5:
    print('Число больше 5')
elif some_variable < 5:
    print('Число меньше 5')
else:
    print('Число равно пяти')

Число равно пяти

### Задача

С клавиатуры вводится два числа. Это координаты клетки на шахматной доске. Проверить является ли клетка белой.

Подсказка: сначала придумайте решение на листочке, потом реализуйте его в виде кода
Подсказка: чтобы решить задание необходимо загуглить как вводить число с клавиатуры в python

In [3]:
x = int(input('Введите координату x: '))
y = int(input('Введите координату y: '))
if (x + y) % 2 == 1:
    print('YES')
else:
    print('NO')

Введите координату x: 1
Введите координату y: 2
YES

### Задача
С клавиатуры вводится координаты двух клеток на шахматной доске. Проверить, может ли слон дойти за 1 шаг с первой клетки на вторую

Подсказка: в python можно комбинировать условия в if с помощью and или or

In [2]:
x1 = int(input('Введите координату x1: '))
x2 = int(input('Введите координату y1: '))
y1 = int(input('Введите координату x2: '))
y2 = int(input('Введите координату y2: '))
if x1 == x2 and y1 != y2 or x1 != x2 and y1 == y2:
    print('YES')
else:
    print('NO')

Введите координату x1: 1
Введите координату y1: 1
Введите координату x2: 3
Введите координату y2: 3
NO

Пользователь вводит целое число. Проверьте является ли это число четырехзначным, если является, то выведите строку "Успешно", иначе "Неудача".

### Задача

Пользователь вводит целое число. Проверьте является ли это число четырехзначным, если является, то выведите строку "Успешно", иначе "Неудача".

Подсказка: вспомните приведение типов в python. Проверить является ли строка длиной 4 гораздо проще, чем проверить действительно ли число 4-ех значное

In [1]:
x = int(input())

if len(str(x)) == 4:
    print('Успешно')
else:
    print('Неудачно')

1234
Успешно

### Задача

Треугольник существует только тогда, когда сумма любых двух его сторон больше третьей. Дано a, b, c - стороны предполагаемого треугольника. Требуется сравнить длину каждого отрезка-стороны с суммой двух других. Если хотя бы в одном случае отрезок окажется больше суммы двух других, то треугольника с такими сторонами не существует.

In [5]:
a = int(input('Введите a '))
b = int(input('Введите b '))
c = int(input('Введите c '))

if a > b + c:
    print(False)
elif b > a + c:
    print(False)
elif c > b + a:
    print(False)
else:
    print(True)

Введите a 2
Введите b 2
Введите c 2
True

### Цикл For

## Простой перебор

In [5]:
for i in ['one', 'two', 'three']:
    print(i)

one
two
three

## Функция range()

In [10]:
# от 0 до 5
for number in range(5):
    print(number)

0
1
2
3
4

In [11]:
# от 5 до 10
for el in range(5,10):
    print(el)

5
6
7
8
9

In [12]:
# от 5 до 10 с шагом 2
for el in range(5,10,2):
    print(el)

5
7
9

## Перебор строк

In [13]:
for letter in 'hello':
    print(letter)

h
e
l
l
o

## Задача:

Посчитать сумму четных чисел от 0 до number

In [14]:
number = int(input())
summa = 0
for i in range(number+1):
    if i % 2 == 0:
        # summa = summa + i
        summa += i
print(summa)

5
6

### Задача

Дано целое число n. Найти сумму 1 + 1/2 + 1/3 + ... + 1/n

In [9]:
n = int(input())
result = 0
for i in range(1, n+1):
    result = result + 1/i
    
print(result)

2
1.5

### Задача 

По данному натуральному n ≤ 30 выведите лесенку из n ступенек, i-я ступенька состоит из чисел от 1 до i без пробелов. 

Подсказка: циклы можно вкладывать друг в друга

In [14]:
n = int(input())
for i in range(1, n+1):
    print()
    for i in range(1, i+1):
        print(i, end=' ')

5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# list comprehension

In [16]:
a = [i**2 for i in [1, 3, 5]]
a

[1, 9, 25]

## Задача

Вывести все четные числа среди квадратов чисел от 1 до 100.

In [15]:
[i**2 for i in range(2, 101, 2)]

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

## Условный оператор в одну строку (Тернарный оператор)

Общий паттерн выглядит так: \<expression on true\> if \<predicate\> else \<expression on false\>.

In [21]:
a = 5

b = True if a ==5 else False

print(b)

True

### Задача 
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

Подсказка: обьедините условный оператор в одну строчку и list comprehansion

In [18]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

print([elem for elem in a if elem < 5])

[1, 1, 2, 3]

### Dict

In [23]:
a = {
    'name': 'Kirill',
    'age': 31,
    'isMale': True
}

print(a)

{'name': 'Kirill', 'age': 31, 'isMale': True}

In [28]:
a['name']

'Kirill'

In [29]:
a['age']

31

In [24]:
a.keys()

dict_keys(['name', 'age', 'isMale'])

In [25]:
a.values()

dict_values(['Kirill', 31, True])

## Задача

Дан словарь, который сопоставляет номер месяца с его названием. Сделать обратный словарь, который будет сопоставлять названию месяца его номер.

Нельзя вручную задавать новый словарь.

In [19]:
month_dict = {
    1: 'Январь',
    2: 'Февраль',
    3: 'Март',
    4: 'Апрель',
    5: 'Май',
    6: 'Июнь',
    7: 'Июль',
    8: 'Август',
    9: 'Сентябрь',
    10: 'Октябрь',
    11: 'Ноябрь',
    12: 'Декабрь'
}

new_dict = {}

for key in month_dict:
    new_dict[month_dict[key]] = key

new_dict

{'Январь': 1,
 'Февраль': 2,
 'Март': 3,
 'Апрель': 4,
 'Май': 5,
 'Июнь': 6,
 'Июль': 7,
 'Август': 8,
 'Сентябрь': 9,
 'Октябрь': 10,
 'Ноябрь': 11,
 'Декабрь': 12}

In [22]:
# Или так
{month_dict[key] : key for key in month_dict}

{'Январь': 1,
 'Февраль': 2,
 'Март': 3,
 'Апрель': 4,
 'Май': 5,
 'Июнь': 6,
 'Июль': 7,
 'Август': 8,
 'Сентябрь': 9,
 'Октябрь': 10,
 'Ноябрь': 11,
 'Декабрь': 12}

# Функции

Функция принимает на вход какие-то значения и что-то выдает. Функции нужны, чтобы убирать дублирования в коде.

Создадим свою функцию:

In [30]:
def add_one(x): # Сигнатура функции
    # Тело функции (в нашем случае пустое)
    return x + 1 # Возвращаемое значение (если не указать, то вернется None)

In [31]:
add_one(5)

6

## Задача

Написать функцию, которая вернет список четных чисел от a до b

In [23]:
def odd(a, b):
    if a % 2 == 0:
        return list(range(a, b, 2))
    
    return list(range(a+1, b, 2))

In [24]:
odd(1, 5)

[2, 4]

In [25]:
odd(0, 5)

[0, 2, 4]

### Задача

Написать функцию, которая принимает два числа и возвращает список значений, которые есть в обоих списках

In [26]:
def include(a, b):
    result_list = []
    for item in a:
        if item in b:
            result_list.append(item)
            
    return result_list

In [27]:
include([1, 2, 3], [1, 2, 4])

[1, 2]

In [28]:
# Или так

def include(a, b):
    return [elem for elem in a if elem in b]

In [29]:
include([1, 2, 3], [1, 2, 4])

[1, 2]

### Анонимные функции (лямбда функции)

Это однострочные функции без имени

In [30]:
sqr = lambda x: x**2

In [31]:
sqr(5)

25

In [32]:
def sqr(x):
    return x**2

# Map

Функция map принимает коллекцию (например список) и функцию. Далее применяет к каждому аргументу функцию

In [33]:
L = [1, 2, 3, 4]
a = map(lambda x: x**2, L)

print(a)

<map object at 0x7fb9c8cabee0>

как вы видите, map возвращает на сам список, а так называемый генератор

Чтобы вернуть список, преобразуем полученный генератор к списку

In [34]:
print(list(a))

[1, 4, 9, 16]

Сам map в работе мы использовать не будем, но будем использовать его вариацию в pandas

### Задача

Необходимо реализовать функцию, которая принимает список значений и возвращает преобразованный массив по следующему правилу:

$$x := \frac{x - min}{max - min},$$ 

где x - элемент массива, max - максимальное значение во всем массиве, min - минимальное значение во всем массиве. При решении используйте map

Такая функция называется [MinMaxScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html). Она преобразует каждое значение массива в числа от 0 до 1. Зачем нужен это scaler разберем на занятии по Машинному обучению

### Задача
Решите эту задачу с помощью numpy. В numpy.array есть метод min и max для поиска минимума и максимума в массиве.

# Решаем квадратное уравнение

Нужно написать код функции, которая на вход принимает коэфициенты a, b и c квадратного уравнения и считает ответ.

Если корня два, то нужно вернуть кортеж вида $(x1, x2)$, где $x1 < x2$

Если корень один, то просто возвращаем число

Если корней нет, то возвращаем `None`

In [44]:
from math import sqrt

def solve_quadratic(a, b, c):
    if a == 0:
        if b == 0:
            # Уравнение вида c = 0, решение нет
            return None
        return -c / b
    d = b * b - 4 * a * c
    if d > 0:
        x1 = (-b + sqrt(d)) / (2 * a)
        x2 = (-b - sqrt(d)) / (2 * a)
        # Возвращаем в порядке возрастания
        return min(x1, x2), max(x1, x2)
    elif d == 0:
        return -b / (2 * a)
    else:
        return None

Ячейки ниже просто запускаем, чтобы проверить, что мы правильно написали функцию. Если не ругается, значит все ок.

In [45]:
def calculate_quadratic(a, b, c, x):
    return a * x ** 2 + b * x + c

def test_quadratic(a, b, c):
    result = solve_quadratic(a, b, c)
    if b * b - 4 * a * c < 0:
        assert result is None
        return
    from typing import Iterable
    if isinstance(result, Iterable):
        x1, x2 = result
        assert abs(calculate_quadratic(a, b, c, x1)) < 0.00001
        assert abs(calculate_quadratic(a, b, c, x2)) < 0.00001
    else:
        x = result
        assert abs(calculate_quadratic(a, b, c, x)) < 0.00001

In [47]:
test_quadratic(1, -2, -3) # два корня
test_quadratic(1, 12, 36) # один корень
test_quadratic(1, 0, 0)
test_quadratic(0, 1, 0)
test_quadratic(2, 4, -7) # два корня
test_quadratic(1, 6, 9) # один корень
test_quadratic(2, 4, 7) # нет корней